@model List<Question>

@{
    Layout = "_LayoutTeacher";
    var assessmentTools = ViewBag.AssessmentTools as List<AssessmentTool> ?? new List<AssessmentTool>();
    var subAssessmentTools = ViewBag.SubAssessmentTools as List<SubAssessmentTool> ?? new List<SubAssessmentTool>();
    var userId = ViewBag.UserId;
    var selectedCategory = ViewBag.SelectedCategory;
}

<link rel="stylesheet" href="~/css/HesaplaStyle.css">

<section class="home">
    <div class="container">
        <header>
            <img style="max-width: 150px;" src="https://samsun.edu.tr/wp-content/uploads/2019/09/samsun-universitesi-mavi-logo.png" alt="">
        </header>

        <form method="post">
            <div class="form-group">
                <label for="selectedCategoryId">Kategori Seçin:</label>
                <select id="selectedCategoryId" name="selectedCategoryId" class="form-control">
                    <option value="">Seçiniz</option>
                    @foreach (var category in ViewBag.Categories)
                    {
                        <option value="@category.Value">@category.Text</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Gönder</button>
        </form>

        <h1>Seçilen Kategori: @selectedCategory </h1>

        @if (assessmentTools.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>TeacherId</th>
                        <th>Percentage</th>
                        <th>Title</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in assessmentTools)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.TeacherId</td>
                            <td>@item.Percentage</td>
                            <td>@item.Title</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No data available.</p>
        }
    </div>
</section>
