@model List<Question>

@{
    Layout = "_LayoutTeacher";
}

@{
    var List = ViewBag.assessmentTools as List<AssessmentTool>;

    var List2 = ViewBag.subAssessmentTools as List<SubAssessmentTool>;

    var sayi = 0;

    var i = 1;

    var c = 1;

    var a = 0;

    var b = 0;

    var x = 0;
}

<link rel="stylesheet" href="~/css/HesaplaStyle.css">

<section class="home">
    <div class="container">
        <header><img style="max-width: 150px;"
                src="https://samsun.edu.tr/wp-content/uploads/2019/09/samsun-universitesi-mavi-logo.png" alt="">
        </header>

        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Dersin Öğrenim Çıktıları</span>
                </div>
            </div>
        </form>

        

        <script>
            function cagir() {
                Swal.fire({
                    title: "ERROR",
                    text: "Invalid username or password.",
                    icon: "question"
                });
            }
        </script>


        @Html.Partial("_deneme")

        
        @if (!string.IsNullOrEmpty(ViewBag.SecilenDeger))
        {
            <h1>Seçilen Değer: @ViewBag.SecilenDeger</h1>
        }

            

            <form method="post" action="/Teacher/HesaplamalarQuestionAdd2">
                <div class="fields">
                    
                        @foreach (var t in List2)
                        {
                            if("Final" == t.Title)
                            {
                                <div class="input-field" id="ekle2">
                                    <label>LowerRating:</label>
                                    <input asp-for="@Model[x].LowerRating" value="@t.LowerRating"  id="ekle" class="form-control" />
                                </div>
                                <div class="input-field">
                                    <label>LowerRating:</label>
                                    <input value="@t.LowerRating"  id="ekle" class="form-control" disabled/>
                                </div>
                                <div class="input-field">
                                    <label>Note:</label>
                                    <input asp-for="@Model[x].Note" class="form-control" />
                                </div>
                                x++;
                            }
                        }
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
            

            <hr class="border border-black border-2 opacity-50">
            @* <form method="post" action="#">
            <div class="fields">
            @Html.Partial("_HesaplamalarQuestionForm")
            <div class="input-field">
            <label>Ekle</label>
            <button type="submit" class="btn btn-success">Ekle</button>
            </div>
            </div>
            </form> *@


            <table class="table table-bordered border-danger table-hover">
                <tr class="tab-satir-1">
                    <th>İsim Soyisim</th>
                    <th>Öğrenci No</th>

                    @* @foreach (var item1 in List)
                    {
                    @foreach (var item2 in List2)
                    {
                    if (item1.Title == item2.Title)
                    {
                    <th>@item2.LowerRating</th>
                    }
                    }
                    } *@


                    @* <th>Ödev 1</th>
                    <th>Ödev 2</th>
                    <th>S1</th>
                    <th>Q1</th> *@
                    <th>Harf Notu</th>
                </tr>
                <tr class="tab-satir-2">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="tab-satir-3">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>

        </div>
</section>
































<!-- Button trigger modal -->
@* <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
Uyarı Mesajını Göster
</button> *@

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Uyarı Mesajı</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Buraya uyarı mesajınızı yazabilirsiniz.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

@if (1 == 1)































































































































































































































































































































































































































































































































{































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































}
