@model Student

@{
    Layout = "_LayoutTeacher";
}

@{
    var List = ViewBag.assessmentTools as List<AssessmentTool>;
    var List2 = ViewBag.subAssessmentTools as List<SubAssessmentTool>;
    var List3 = ViewBag.learningOutcomess as List<LearningOutcomes>;
    var List4 = ViewBag.students as List<Student>;
    var List5 = ViewBag.questions as List<Question>;
    var sayi = 0;
    var i = 1;
    var c = 1;
    var a = 0;
    var b = 0;
    var x = 1;


}

<link rel="stylesheet" href="~/css/HesaplaStyle.css">

<section class="home">
    <div class="container">
        <header><img style="max-width: 150px;"
                src="https://samsun.edu.tr/wp-content/uploads/2019/09/samsun-universitesi-mavi-logo.png" alt="">
        </header>

        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Dersin Öğrenim Çıktıları</span>
                </div>
            </div>
        </form>

        @* <form method="post" action="/Teacher/HesaplamalarEkle">
        <div class="fields">
        <div class="input-field">
        <label>İsim ve Soyisim:</label>
        <input id="FullName" asp-for="FullName" type="text" placeholder="Anahtar Kelimeleri Giriniz... "
        required>
        </div>
        <div class="input-field">
        <label>Öğrenci No:</label>
        <input id="StudentNumber" asp-for="StudentNumber" type="number" placeholder="Tanım Giriniz..."
        required>
        </div>
        <div class="input-field">
        <label>Ekle</label>
        <button type="submit" class="btn btn-success">Ekle</button>
        </div>
        </div>
        </form> *@


        <table class="table table-bordered border-black table-hover">
            <tr class="satir-1">
                <th>Başlık</th>

                @foreach (var item1 in List)
                {
                    b = 0;

                    @foreach (var item2 in List2)
                    {
                        if (item1.Title == item2.Title)
                        {
                            b++;
                        }
                    }

                    <th colspan="@b">@item1.Title</th>

                    a = 0;

                    @foreach (var item2 in List2)
                    {
                        if (item1.Title == item2.Title)
                        {
                            a++;
                        }
                    }

                }

                @* <th colspan="2">Ödev</th>
                <th>Vize</th>
                <th>Final</th> *@
            </tr>
            <tr class="satir-2">
                <th>Etki Eden Yüzde(%)</th>

                @foreach (var item1 in List)
                {
                    b = 0;
                    @foreach (var item2 in List2)
                    {
                        if (item1.Title == item2.Title)
                        {
                            b++;
                        }
                    }

                    <th colspan="@b">@item1.Percentage %</th>

                    a = 0;

                    @foreach (var item2 in List2)
                    {
                        if (item1.Title == item2.Title)
                        {
                            a++;
                        }
                    }

                }

                @* <th colspan="2">20</th>
                <th>30</th>
                <th>50</th> *@
            </tr>
            <tr class="satir-3">
                <th>Sorular</th>

                @foreach (var item1 in List)
                {
                    @foreach (var item2 in List2)
                    {
                        if (item1.Title == item2.Title)
                        {
                            <th>@item2.LowerRating</th>
                        }
                    }
                }
                @foreach (var item1 in List)
                {
                    int count = 0;
                    @foreach (var item2 in List2)
                    {
                        if (item1.Title == item2.Title)
                        {
                            count++;
                        }
                    }
                    if (count == 0)
                    {
                        <th></th>
                    }
                }

            </tr>
            <tr class="satir-4">
                <th>Soruların Puanı</th>

                @foreach (var item1 in List)
                {
                    @foreach (var item2 in List2)
                    {
                        if (item1.Title == item2.Title)
                        {
                            <th>@item2.Point</th>
                        }
                    }
                }
                @foreach (var item1 in List)
                {
                    int count = 0;
                    @foreach (var item2 in List2)
                    {
                        if (item1.Title == item2.Title)
                        {
                            count++;
                        }
                    }
                    if (count == 0)
                    {
                        <th></th>
                    }
                }

            </tr>
            @foreach (var item3 in List3)
            {
                <tr class="satir-5">
                    <th>Ö - @x</th>
                    @foreach (var item2 in List2)
                    {
                        <td></td>
                    }
                </tr>
                x++;
            }

            <tr class="satir-6">
                <th>Ağırlık</th>

                @foreach (var item1 in List)
                {
                    @foreach (var item2 in List2)
                    {
                        if (item1.Title == item2.Title)
                        {
                            double calcPoint = (double)item2.Point * (double)item1.Percentage / 100;

                            <th>@calcPoint</th>
                        }
                    }
                }
                @foreach (var item1 in List)
                {
                    int count = 0;
                    @foreach (var item2 in List2)
                    {
                        if (item1.Title == item2.Title)
                        {
                            count++;
                        }
                    }
                    if (count == 0)
                    {
                        <th></th>
                    }
                }
        </table>

        @Html.Partial("_HesaplamalarStudentForm")
        <hr class="border border-black border-2 opacity-50">
        @Html.Partial("_HesaplamalarQuestionForm")



        @* <form method="post" action="#">
        <div class="fields">
        @Html.Partial("_HesaplamalarQuestionForm")
        <div class="input-field">
        <label>Ekle</label>
        <button type="submit" class="btn btn-success">Ekle</button>
        </div>
        </div>
        </form> *@


        <table class="table table-bordered border-danger table-hover">
            <tr class="tab-satir-1">
                <th>İsim Soyisim</th>
                <th>Öğrenci No</th>
                @if (List != null)
                {
                    @foreach (var item1 in List)
                    {
                        @foreach (var item2 in List2)
                        {
                            if (item1.Title == item2.Title)
                            {
                                <th>@item2.LowerRating</th>
                            }
                        }
                    }
                }
                else
                {
                    <p>List koleksiyonu null olduğu için işlem yapılamıyor.</p>
                }

                @* <th>Ödev 1</th>
                <th>Ödev 2</th>
                <th>S1</th>
                <th>Q1</th> *@
                <th>Harf Notu</th>
            </tr>
            @foreach (var item4 in List4)
            {
                <tr class="tab-satir-2">
                    <td>@item4.FullName</td>
                    <td>@item4.StudentNumber</td>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
            <tr class="tab-satir-3">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>

    </div>
</section>