@* @model Student *@
@model List<Question>


@{
    Layout = "_LayoutTeacher";
}

@{
    var List = ViewBag.assessmentTools as List<AssessmentTool> ?? new List<AssessmentTool>();
    var List2 = ViewBag.subAssessmentTools as List<SubAssessmentTool> ?? new List<SubAssessmentTool>();
    var List3 = ViewBag.learningOutcomess as List<LearningOutcomes> ?? new List<LearningOutcomes>();
    var List4 = ViewBag.students as List<Student> ?? new List<Student>();
    var List5 = ViewBag.questions as List<Question> ?? new List<Question>();
    var sayi = 0;
    var i = 1;
    var c = 1;
    var a = 0;
    var b = 0;
    var x = 1;
    var l = 0;
}

<link rel="stylesheet" href="~/css/HesaplaStyle.css">

<section class="home">
    <div class="container">
        <header><img style="max-width: 150px;"
                src="https://samsun.edu.tr/wp-content/uploads/2019/09/samsun-universitesi-mavi-logo.png" alt="">
        </header>

        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Dersin Öğrenim Çıktıları</span>
                </div>
            </div>
        </form>

        <script>
            // Tabloyu kaydetmek için JavaScript kodu
            document.addEventListener("DOMContentLoaded", function () {
                const editableCells = document.querySelectorAll("[contenteditable='true']");

                // Sayfa yüklendiğinde, kaydedilmiş veriyi yerel depolamadan al ve hücrelere yerleştir
                editableCells.forEach(function (cell, index) {
                    const key = "cell_" + index;
                    const savedData = localStorage.getItem(key);
                    if (savedData) {
                        cell.innerText = savedData;
                    }
                    // Hücreye girilen her veriyi kaydet
                    cell.addEventListener("input", function () {
                        localStorage.setItem(key, cell.innerText);
                    });
                });
            });
        </script>

        <table class="table table-bordered border-black table-hover">
            <tr class="satir-1">
                <th>Başlık</th>
                @if (List.Any())
                {

                    @foreach (var item1 in List)
                    {
                        if (item1.TeacherId == ViewBag.UserId)
                        {
                            b = 0;
                            @foreach (var item2 in List2)
                            {
                                if (item2.TeacherId == ViewBag.UserId)
                                {
                                    if (item1.Title == item2.Title)
                                    {
                                        b++;
                                    }
                                }
                            }
                            <th colspan="@b">@item1.Title</th>

                            a = 0;

                            @foreach (var item2 in List2)
                            {
                                if (item2.TeacherId == ViewBag.UserId)
                                {
                                    if (item1.Title == item2.Title)
                                    {
                                        a++;
                                    }
                                }
                            }
                        }
                    }
                }
            </tr>
            <tr class="satir-2">
                <th>Etki Eden Yüzde(%)</th>
                @if (List != null && List.Any())
                {
                    @foreach (var item1 in List)
                    {
                        if (item1.TeacherId == ViewBag.UserId)
                        {
                            b = 0;
                            @foreach (var item2 in List2)
                            {
                                if (item2.TeacherId == ViewBag.UserId)
                                {
                                    if (item1.Title == item2.Title)
                                    {
                                        b++;
                                    }
                                }
                            }
                            <th colspan="@b">@item1.Percentage %</th>

                            a = 0;

                            @foreach (var item2 in List2)
                            {
                                if (item2.TeacherId == ViewBag.UserId)
                                {
                                    if (item1.Title == item2.Title)
                                    {
                                        a++;
                                    }
                                }
                            }
                        }
                    }
                }
            </tr>
            <tr class="satir-3">
                <th>Sorular</th>
                @if (List != null && List.Any())
                {
                    @foreach (var item1 in List)
                    {
                        if (item1.TeacherId == ViewBag.UserId)
                        {
                            @foreach (var item2 in List2)
                            {
                                if (item2.TeacherId == ViewBag.UserId)
                                {
                                    if (item1.Title == item2.Title)
                                    {
                                        <th>@item2.LowerRating</th>
                                    }
                                }
                            }
                        }
                    }
                    @foreach (var item1 in List)
                    {
                        if (item1.TeacherId == ViewBag.UserId)
                        {
                            int count = 0;
                            @foreach (var item2 in List2)
                            {
                                if (item2.TeacherId == ViewBag.UserId)
                                {
                                    if (item1.Title == item2.Title)
                                    {
                                        count++;
                                    }
                                }
                            }
                            if (count == 0)
                            {
                                <th></th>
                            }
                        }
                    }
                }
            </tr>
            <tr class="satir-4">
                <th>Soruların Puanı</th>
                @if (List != null && List.Any())
                {
                    @foreach (var item1 in List)
                    {
                        if (item1.TeacherId == ViewBag.UserId)
                        {
                            @foreach (var item2 in List2)
                            {
                                if (item2.TeacherId == ViewBag.UserId)
                                {
                                    if (item1.Title == item2.Title)
                                    {
                                        <th>@item2.Point</th>
                                    }
                                }
                            }
                        }
                    }
                    @foreach (var item1 in List)
                    {
                        if (item1.TeacherId == ViewBag.UserId)
                        {
                            int count = 0;
                            @foreach (var item2 in List2)
                            {
                                if (item2.TeacherId == ViewBag.UserId)
                                {
                                    if (item1.Title == item2.Title)
                                    {
                                        count++;
                                    }
                                }
                            }
                            if (count == 0)
                            {
                                <th></th>
                            }
                        }
                    }
                }
            </tr>            
            @if (List3 != null && List3.Any())
            {
                @foreach (var item3 in List3)
                {
                    if (item3.TeacherId == ViewBag.UserId)
                    {
                        <tr class="satir-5">
                            <th>Ö - @x</th>
                            @foreach (var item2 in List2)
                            {
                                if (item2.TeacherId == ViewBag.UserId)
                                {
                                    <td contenteditable="true"></td>
                                }
                            }
                        </tr>
                        x++;
                    }
                }
            }
            <tr class="satir-6">
                <th>Ağırlık</th>
                @if (List != null && List.Any())
                {
                    @foreach (var item1 in List)
                    {
                        if (item1.TeacherId == ViewBag.UserId)
                        {
                            @foreach (var item2 in List2)
                            {
                                if (item2.TeacherId == ViewBag.UserId)
                                {
                                    if (item1.Title == item2.Title)
                                    {
                                        double calcPoint = (double)item2.Point * (double)item1.Percentage / 100;
                                        <th>@calcPoint</th>
                                    }
                                }
                            }
                        }
                    }
                    @foreach (var item1 in List)
                    {
                        if (item1.TeacherId == ViewBag.UserId)
                        {
                            int count = 0;
                            @foreach (var item2 in List2)
                            {
                                if (item2.TeacherId == ViewBag.UserId)
                                {
                                    if (item1.Title == item2.Title)
                                    {
                                        count++;
                                    }
                                }
                            }
                            if (count == 0)
                            {
                                <th></th>
                            }
                        }
                    }
                }
        </table>

        

        @Html.Partial("_HesaplamalarStudentForm")
        <hr class="border border-black border-2 opacity-50">
        @* @Html.Partial("_HesaplamalarQuestionForm") *@



        @* <form method="post" action="#">
        <div class="fields">
        @Html.Partial("_HesaplamalarQuestionForm")
        <div class="input-field">
        <label>Ekle</label>
        <button type="submit" class="btn btn-success">Ekle</button>
        </div>
        </div>
        </form> *@


        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Not Gir
        </button>

        <!-- Modal -->
        <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                    <form method="post" action="/Teacher/Hesaplamalar">
                        <div class="form-group">
                            <label for="selectedCategoryId">Kategori Seçin:</label>
                            <select id="selectedCategoryId" name="selectedCategoryId" class="form-control">
                                <option value="">Seçiniz</option>
                                @foreach (var category in ViewBag.Categories)
                                {
                                    <option value="@category.Value">@category.Text</option>
                                }
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Gönder </button>
                    </form>

                    <form method="post" action="/Teacher/HesaplamalarQuestionAdd2">
                        <table class="table table-bordered border-danger table-hover">
                            <tr class="satir-1">
                                <th></th>
                                <th></th>
                                @if (List != null && List.Any())
                                {
                                    @foreach (var item1 in List)
                                    {
                                        if(item1.TeacherId == ViewBag.UserId)
                                        {
                                            b = 0;
                                    
                                            @foreach (var item2 in List2)
                                            {
                                                if(item2.TeacherId == ViewBag.UserId)
                                                {
                                                    if (ViewBag.SelectedCategory == item2.Title)
                                                    {
                                                        b++;
                                                    }
                                                }
                                                
                                            }
                                            


                                            
                                                a = 0;
                                            
                                            @foreach (var item2 in List2)
                                            {
                                                if(item2.TeacherId == ViewBag.UserId)
                                                {
                                                    if (ViewBag.SelectedCategory == item2.Title)
                                                    {
                                                        a++;
                                                    }
                                                }
                                            }
                                        }

                                    }
                                        <th colspan="@b">@ViewBag.SelectedCategory</th>
                                }
                            </tr>
                            <tr class="tab-satir-1">
                                <th>İsim Soyisim</th>
                                <th>Öğrenci No</th>
                                
                                @* @foreach (var item1 in List)
                                { *@
                                    @if (List2 != null && List2.Any())
                                    {
                                        @foreach (var item2 in List2)
                                        {
                                            if(item2.TeacherId == ViewBag.UserId)
                                            {
                                                if (ViewBag.SelectedCategory == item2.Title)
                                                {
                                                    <th>@item2.LowerRating</th>
                                                }
                                            }
                                        }
                                    }
                                   
                                    @* } *@
                            </tr>
                            @if (List4 != null && List4.Any())
                            {
                                @foreach (var item4 in List4)
                                {
                                    if(item4.TeacherId == ViewBag.UserId)
                                    {
                                        <tr class="tab-satir-2">
                                            <td>@item4.FullName</td>
                                            <td>@item4.StudentNumber</td>
                                            @* @foreach (var item1 in List)
                                        { *@
                                            
                                            @foreach (var t in List2)
                                            {
                                                if(t.TeacherId == ViewBag.UserId)
                                                {
                                                    if (t.TeacherId == ViewBag.UserId)
                                                    {
                                                        if (ViewBag.SelectedCategory == t.Title)
                                                        {
                                                            <th>
                                                                <input asp-for="@Model[l].StudentId" value="@item4.Id" id="ekle" type="hidden" class="form-control" />
                                                                <div class="input-field" id="ekle2">
                                                                    <label>Soru @l+1:</label>
                                                                    <input asp-for="@Model[l].LowerRating" value="@t.LowerRating" id="ekle" class="form-control" />
                                                                </div>
                                                                <div class="input-field">
                                                                    <input  asp-for="@Model[l].Note" min="1" max="@t.Point" class="form-control" />
                                                                </div>
                                                            </th>
                                                            
                                                            l++;
                                                        }
                                                    }
                                                }
                                            }
                                            
                                            @* } *@
                                    
                                        </tr>
                                    }
                                }
                            }
                            </table>
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Understood</button>
                    </div>
                </div>
            </div>
        </div>
        @* @{TempData["ShowModal"] = true;} *@

        @if (TempData["ShowModal"] != null && (bool)TempData["ShowModal"])
        {
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    var myModal = new bootstrap.Modal(document.getElementById('staticBackdrop'), {
                        keyboard: false
                    });
                    myModal.show();
                });
            </script>
        }



        <table class="table table-bordered border-danger table-hover">
            <tr class="satir-1">
                <th>Başlık</th>
                <th>Başlık</th>

                @if (List != null && List.Any())
                {
                    @foreach (var item1 in List)
                    {
                        if(item1.TeacherId == ViewBag.UserId)
                        {
                            b = 0;
                            @foreach (var item2 in List2)
                            {
                                if(item2.TeacherId == ViewBag.UserId)
                                {
                                    if (item1.Title == item2.Title)
                                    {
                                        b++;
                                    }
                                }
                            }
                            <th colspan="@b">@item1.Title</th>

                            a = 0;

                            @foreach (var item2 in List2)
                            {
                                if(item2.TeacherId == ViewBag.UserId)
                                {
                                    if (item1.Title == item2.Title)
                                    {
                                        a++;
                                    }
                                }
                            }
                        }
                    }
                }
                <th></th>
                <th></th>
            </tr>
            <tr class="tab-satir-1">
                <th>İsim Soyisim</th>
                <th>Öğrenci No</th>
                    @{var title = "";}
                    @if (List != null && List.Any())
                    {
                        @foreach (var item1 in List)
                        {
                            if(item1.TeacherId == ViewBag.UserId)
                            {
                                @foreach (var item2 in List2)
                                {
                                    if(item2.TeacherId == ViewBag.UserId)
                                    {
                                        if (item1.Title == item2.Title)
                                        {
                                            <th>@item2.LowerRating</th>
                                            
                                        }
                                    }
                                }
                            }
                            title = item1.Title;
                        }
                    }
                <th>Harf Notu</th>
                <th>Sil / Güncelle</th>
            </tr>
            @{var s = 0;
            var h = 0;}
            @if (List4 != null && List4.Any())
            {
                @foreach (var item4 in List4)
                {
                    if(item4.TeacherId == ViewBag.UserId)
                    {
                        <tr class="tab-satir-2">
                            <td>@item4.FullName</td>
                            <td>@item4.StudentNumber</td>
                            @foreach (var item in List)
                            {
                                @foreach (var item2 in List2)
                                {
                                    if (item.Title == item2.Title)
                                    {
                                        foreach (var item5 in List5)
                                        {
                                            if(item4.Id == item5.StudentId)
                                            {
                                            if (item5.LowerRating == item2.LowerRating)
                                            {
                                                <td>@item5.Note</td>
                                            }
                                            }
                                        }
                                    }
                                }
                            }
                            @* @foreach (var item2 in List2)
                            {
                                if(item2.TeacherId == ViewBag.UserId)
                                {
                                    @foreach (var item5 in List5)
                                    {
                                        if (item4.Id == item5.StudentId)
                                        {
                                            if (item2.LowerRating == item5.LowerRating)
                                            {
                                                @foreach (var item1 in List)
                                                {
                                                    
                                                    if(item1.Title == item2.Title)
                                                    {
                                                        <td>@item5.Note</td>
                                                        s++;
                                                    }
                                                }
                                            }
                                            
                                        }
                                        
                                    }
                                }
                                h++;
                            } *@
                            @for(var v = 0; v < h-s; v++)
                            {<td></td>}
                            <td>

                            </td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <button type="button" class="btn btn-danger">Sil</button>
                                    <button type="button" class="btn btn-warning">Güncelle</button>
                                </div>
                            </td>
                        </tr>
                    }
                }
            }
        </table>

    </div>
</section>