
@model Teacher

@{
    Layout = "_LayoutTeacher";
}

<link rel="stylesheet" href="~/css/ProfilAyarlariStyle.css">

<section class="home">
    <div class="container">
        <header><img style="max-width: 150px;"
                src="https://samsun.edu.tr/wp-content/uploads/2019/09/samsun-universitesi-mavi-logo.png" alt="">
        </header>

        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Profil Ayarları</span>
                </div>
            </div>
        </form>
        @foreach (var i in ViewBag.teach)
        {
            @if (i.Id == ViewBag.UserId)
            {
                <div class="alert alert-light" role="alert">
                    <div class="card mb-1" style="max-width: 880px;">
                        <div class="row g-0">
                            <div class="col-md-4" >
                                @if (string.IsNullOrEmpty(i.ProfileImageBase64))
                                {
                                    <img src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg"
                                        class="img-thumbnail rounded-start" alt="Varsayılan Profil Resmi">
                                }
                                else
                                {
                                    <img src="data:image/jpeg;base64,@i.ProfileImageBase64" class="img-thumbnail rounded-start"
                                        alt="Profil Resmi" style="height: 270px;">
                                }
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">@i.FirstName @i.LastName</h5>
                                    <br>

                                    <h6>İsim:&nbsp;&nbsp;@i.FirstName</h6>
                                    <hr>
                                    <h6>Soyisim:&nbsp;&nbsp;@i.LastName</h6>
                                    <hr>
                                    <h6>Gmail:&nbsp;&nbsp;@i.Gmail</h6>
                                    <hr>

                                    <button class="btn btn-success" type="button" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal"
                                        onclick="fillFormFields('@i.Id', '@i.FirstName', '@i.LastName', '@i.Gmail', '@i.ProfileImageBase64')">
                                        Düzenle
                                    </button>

                                    <script>
                                        function fillFormFields(id, isim, soyisim, gmail, profileImageBase64) {
                                            var IdInput = document.getElementById('profil-id');
                                            var isimInput = document.getElementById('isim');
                                            var soyisimInput = document.getElementById('soyisim');
                                            var gmailInput = document.getElementById('gmail');
                                            var profilImagePreview = document.getElementById('profilImagePreview');

                                            IdInput.value = id;
                                            isimInput.value = isim;
                                            soyisimInput.value = soyisim;
                                            gmailInput.value = gmail;
                                            if (profileImageBase64) {
                                                profilImagePreview.src = 'data:image/jpeg;base64,' + profileImageBase64;
                                            } else {
                                                profilImagePreview.src = 'https://www.temizmagazin.com/sites/default/files/sasdasd.jpg';
                                            }
                                        }
                                    </script>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                        aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Profil Ayarları Güncelle
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form method="POST" enctype="multipart/form-data"
                                                        action="/Teacher/ProfilAyarlariGuncelle">
                                                        <input type="hidden" asp-for="Id" id="profil-id" />
                                                        <div class="mb-3">
                                                            <label for="isim" class="col-form-label">İsim:</label>
                                                            <input type="text" asp-for="FirstName" class="form-control"
                                                                id="isim" required>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="soyisim" class="col-form-label">Soyisim:</label>
                                                            <input type="text" asp-for="LastName" class="form-control"
                                                                id="soyisim" required>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="gmail" class="col-form-label">Gmail:</label>
                                                            <input type="text" asp-for="Gmail" class="form-control" id="gmail"
                                                                required>
                                                        </div>
                                                        <div class="card mb-3" style="max-width: 540px;">
                                                            <div class="row g-0">
                                                                <div class="col-md-4">
                                                                    <img id="profilImagePreview"
                                                                        src="https://www.temizmagazin.com/sites/default/files/sasdasd.jpg"
                                                                        class="img-fluid rounded-start" alt="Profil Resmi">
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <div class="card-body">
                                                                        <h5 class="card-title">Profil Resmi</h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="profil" class="col-form-label">Profil Resmi
                                                                Seçin:</label><br>
                                                            <input class="btn btn-primary" type="file" asp-for="Image"
                                                                id="profil" name="file">
                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Kapat</button>
                                                            <button type="submit" class="btn btn-success">Değişiklikleri Kaydet</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</section>






























@* @model Teacher
@{
    Layout = "_LayoutTeacher";
}

@{
    var List = ViewBag.teachers as List<Teacher>;
}


<link rel="stylesheet" href="~/css/ProfilAyarlariStyle.css">

<section class="home">
    <div class="container">
        <header><img style="max-width: 150px;"
                src="https://samsun.edu.tr/wp-content/uploads/2019/09/samsun-universitesi-mavi-logo.png" alt="">
        </header>

        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Profil Ayarları</span>
                </div>
            </div>
        </form>
        @foreach (var i in List)
        {
            @if (@i.Id == ViewBag.UserId)
            {
                <div class="alert alert-light" role="alert">
                    <div class="card mb-1" style="max-width: 880px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                @if (i.ProfileImage == null)
                                {
                                    <img src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg"
                                        class="img-thumbnail rounded-start" alt="...">
                                }
                                else
                                {
                                    <img src="@i.ProfileImage" class="img-thumbnail rounded-start" alt="...">
                                }
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">

                                    <h5 class="card-title">Card title</h5>
                                    <br>
                                    <h6>İsim:&nbsp;&nbsp;@i.FirstName</h6>
                                    <hr>
                                    <h6>Soyisim:&nbsp;&nbsp;@i.LastName</h6>
                                    <hr>
                                    <h6>Gmail:&nbsp;&nbsp;@i.Gmail</h6>
                                    <hr>

                                    <input class="btn btn-success" type="submit" value="Düzenle" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal"
                                        onclick="fillFormFields('@i.Id', '@i.FirstName', '@i.LastName', '@i.Gmail', '@i.ProfileImage')">


                                    <script>
                                        function fillFormFields(id, isim, soyisim, gmail, profil) {
                                            var IdInput = document.getElementById('profil-id');
                                            var isimInput = document.getElementById('isim');
                                            var soyisimInput = document.getElementById('soyisim');
                                            var gmaiInput = document.getElementById('gmail');
                                            var profilInput = document.getElementById('profil');

                                            IdInput.value = id;
                                            isimInput.value = isim;
                                            soyisimInput.value = soyisim;
                                            gmaiInput.value = gmail;
                                            profilInput.value = profil;
                                        }
                                    </script>

                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                        aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form method="POST" action="/Teacher/ProfilAyarlariGuncelle">
                                                        <input type="hidden" asp-for="Id" id="profil-id" />
                                                        <div class="mb-3">
                                                            <label for="recipient-name" class="col-form-label">İsim:</label>
                                                            <input type="text" asp-for="FirstName" class="form-control"
                                                                id="isim" required>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="recipient-name" class="col-form-label">Soyisim:</label>
                                                            <input type="text" asp-for="LastName" class="form-control"
                                                                id="soyisim" required>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="recipient-name" class="col-form-label">Gmail:</label>
                                                            <input type="text" asp-for="Gmail" class="form-control" id="gmail"
                                                                required>
                                                        </div>
                                                        <div class="card mb-3" style="max-width: 540px;">
                                                            <div class="row g-0">
                                                                <div class="col-md-4">
                                                                    <img src="https://www.temizmagazin.com/sites/default/files/sasdasd.jpg"
                                                                        class="img-fluid rounded-start" alt="...">
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <div class="card-body">
                                                                        <h5 class="card-title">Card title</h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="recipient-name" class="col-form-label">Profil Resmi
                                                                Seçin:</label><br>
                                                            <input class="btn btn-primary" type="file" asp-for="ProfileImage"
                                                                id="profil" name="file">
                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-success">Save
                                                                changes</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
       

    </div>
</section> *@
