@using ProjectOfMudek.Context
@model LearningOutcomes

@{
    Layout = "_LayoutTeacher";
}

@{
    var outcomesList = ViewBag.OutcomesList as List<LearningOutcomes>;
    var i = 1;
    var c = 1;
}

<link rel="stylesheet" href="~/css/sayfa2.css">
<section class="home">
    <div class="container">
        <header><img style="max-width: 150px;"
                src="https://samsun.edu.tr/wp-content/uploads/2019/09/samsun-universitesi-mavi-logo.png" alt="">
        </header>

        <div class="alert alert-light" role="alert">
            <p>Öğretim Elemanı:</p>
            <p>Ders Adı:</p>
            <p style="margin: 0;">Ders Kodu:</p>
        </div>

        <form method="post">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Dersin Öğrenim Çıktıları</span>
                    <div class="fields">
                        <div class="input-field">
                            <input class="inp1" asp-for="Keywords" id="Keywords" type="text"
                                placeholder="Anahtar Kelimeleri Giriniz... " required>
                        </div>
                        <div class="input-field">
                            <input class="inp2" asp-for="Definition" id="Definition" type="text"
                                placeholder="Tanım Giriniz..." required>
                        </div>
                        <div class="input-field">
                            <button type="submit" class="btn btn-success">Ekle</button>
                        </div>
                    </div>

                    <div id="liveAlertPlaceholder"></div>
                    <i id="liveAlertBtn" class="bi bi-exclamation-octagon"></i>
                    <!-- <button type="button" class="btn btn-primary" id="liveAlertBtn">Show live alert</button> -->

                    <script>
                        const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
                        const appendAlert = (message, type) => {
                            const wrapper = document.createElement('div')
                            wrapper.innerHTML = [
                                `<div class="alert alert-${type} alert-dismissible" role="alert">`,
                                `   <div>${message}</div>`,
                                '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
                                '</div>'
                            ].join('')

                            alertPlaceholder.append(wrapper)
                        }

                        const alertTrigger = document.getElementById('liveAlertBtn')
                        if (alertTrigger) {
                            alertTrigger.addEventListener('click', () => {
                                appendAlert('Nice, you triggered this alert message!', 'success')
                            })
                        }
                    </script>

                    <table class="table table-bordered border-primary ">
                        <tr>
                            <th class="th1">Öğrenim Çıktıları</th>
                            <th class="th2">Anahtar Kelimeler</th>
                            <th class="th3">Tanım</th>
                            <th class="th4">Sil</th>
                            <th class="th5">Düzenle</th>
                        </tr>

                        @foreach (var outcome in outcomesList)
                        {
                            <tr>
                                <th>Ö - @i</th>
                                <td>@outcome.Keywords</td>
                                <td>@outcome.Definition</td>
                                <td>
                                    <form method="POST" action="/Teacher/TabloDelete">
                                    <input type="hidden" name="Id" value="@outcome.Id">
                                    <button type="submit" class="btn btn-danger">
                                        <lord-icon src="https://cdn.lordicon.com/drxwpfop.json" trigger="hover"
                                            stroke="bold" colors="primary:#121331,secondary:#ffffff"
                                            style="width:20px;height:20px">
                                        </lord-icon>
                                    </button>
                                    </form>
                                </td>
                                <td><button type="button" class="btn btn-info">
                                        <lord-icon src="https://cdn.lordicon.com/ghhwiltn.json" trigger="hover"
                                            stroke="bold" style="width:20px;height:20px">
                                        </lord-icon>
                                    </button>
                                </td>
                            </tr>
                            i++;
                        }

                        @* <tr>
                        <th>Ö - 1</th>
                        <td></td>
                        <td></td>
                        <td>
                        <button type="button" class="btn btn-danger">
                        <lord-icon src="https://cdn.lordicon.com/drxwpfop.json" trigger="hover"
                        stroke="bold" colors="primary:#121331,secondary:#ffffff"
                        style="width:20px;height:20px">
                        </lord-icon>
                        </button>
                        </td>
                        <td><button type="button" class="btn btn-info">
                        <lord-icon src="https://cdn.lordicon.com/ghhwiltn.json" trigger="hover"
                        stroke="bold" style="width:20px;height:20px">
                        </lord-icon>
                        </button>
                        </td>
                        </tr> *@


                    </table>
                </div>
            </div>
        </form>

        <script>
            function isNumberKey(evt) {
                var charCode = (evt.which) ? evt.which : event.keyCode;
                var inputValue = evt.target.innerText + String.fromCharCode(charCode);

                // Kontrol edilecek sayı aralığı: 1-10
                if (inputValue >= 1 && inputValue <= 10) {
                    return charCode >= 48 && charCode <= 57; // ASCII 48-57 arası sayılar
                }

                return false;
            }
        </script>

        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Program Çıktıları x Öğrenim Çıktıları</span>


                        <table class="table table-bordered border-primary ">
                            <tr class="p-tr">
                                <th class=""></th>
                                <th class="p-th2">P - 1</th>
                                <th class="p-th3">P - 2</th>
                                <th class="p-th4">P - 3</th>
                                <th class="p-th5">P - 4</th>
                                <th class="p-th6">P - 5</th>
                                <th class="p-th7">P - 6</th>
                                <th class="p-th8">P - 7</th>
                                <th class="p-th9">P - 8</th>
                                <th class="p-th10">P - 9</th>
                                <th class="p-th11">P - 10</th>
                                <th class="p-th12">P - 11</th>
                                <th class="p-th13">P - 12</th>
                            </tr>
                    @foreach (var outcome in outcomesList)
                    {
                            <tr>
                                <th>Ö - @c</th>
                                <td onkeypress="return isNumberKey(event)" contenteditable="true"></td>
                                <td onkeypress="return isNumberKey(event)" contenteditable="true"></td>
                                <td onkeypress="return isNumberKey(event)" contenteditable="true"></td>
                                <td onkeypress="return isNumberKey(event)" contenteditable="true"></td>
                                <td onkeypress="return isNumberKey(event)" contenteditable="true"></td>
                                <td onkeypress="return isNumberKey(event)" contenteditable="true"></td>
                                <td onkeypress="return isNumberKey(event)" contenteditable="true"></td>
                                <td onkeypress="return isNumberKey(event)" contenteditable="true"></td>
                                <td onkeypress="return isNumberKey(event)" contenteditable="true"></td>
                                <td onkeypress="return isNumberKey(event)" contenteditable="true"></td>
                                <td onkeypress="return isNumberKey(event)" contenteditable="true"></td>
                                <td onkeypress="return isNumberKey(event)" contenteditable="true"></td>
                            </tr>
                                c++;
                    }

                            @* <tr>
                        <th>Ö - 2</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        </tr>
                        <tr>
                        <th>Ö - 3</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        </tr>
                        <tr>
                        <th>Ö - 4</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        </tr>
                        <tr>
                        <th>Ö - 5</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        </tr> *@
                        </table>
                    
                </div>
            </div>
        </form>

        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Program Çıktıları
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table class="table table-bordered border-primary ">
                            <tr class="p-tr">
                                <th></th>
                                <th>Anahtar Kelimeler</th>
                                <th>Tanım</th>

                            </tr>
                            <tr>
                                <th class="p-th">P - 1</th>
                                <td></td>
                                <td> Matematik, fen bilimleri ve ilgili mühendislik disiplinine özgü konularda
                                    yeterli bilgi birikimi; bu alanlardaki kurumsal ve uygulamalı bilgileri,
                                    karmaşık mühendislik problemlerinde kullanabilme becerisi.</td>
                            </tr>
                            <tr>
                                <th class="p-th">P - 2</th>
                                <td></td>
                                <td> Karmaşık mühendislik problemlerini saptama, tanımlama, formüle etme ve çözme
                                    becerisi; bu amaçla uygun analiz ve modelleme yöntemlerini seçme ve uygulama
                                    becerisi.</td>
                            </tr>
                            <tr>
                                <th class="p-th">P - 3</th>
                                <td></td>
                                <td> Karmaşık bir sistemi, süreci, cihazı veya ürünü gerçekçi kısıtlar ve koşullar
                                    altında, belirli gereksinimleri karşılayacak şekilde tasarlama becerisi; bu
                                    amaçla modern tasarım yöntemlerini uygulama becerisi.</td>
                            </tr>
                            <tr>
                                <th class="p-th">P - 4</th>
                                <td></td>
                                <td>Mühendislik uygulamalarında karşılaşılan karmaşık problemlerin analizi ve çözümü
                                    için gerekli olan modern teknik ve araçları geliştirme, seçme ve kullanma
                                    becerisi; bilişim teknolojilerini etkin bir şekilde kullanma becerisi.</td>
                            </tr>
                            <tr>
                                <th class="p-th">P - 5</th>
                                <td></td>
                                <td>Karmaşık mühendislik problemlerinin veya disipline özgü araştırma konularının
                                    incelenmesi için deney tasarlama, deney yapma, veri toplama, sonuçları analiz
                                    etme ve yorumlama becerisi.
                                </td>
                            </tr>
                            <tr>
                                <th class="p-th">P - 6</th>
                                <td></td>
                                <td>Disiplin içi ve çok disiplinli takımlarda etkin biçimde çalışma becerisi;
                                    bireysel çalışma becerisi.
                                </td>
                            </tr>
                            <tr>
                                <th class="p-th">P - 7</th>
                                <td></td>
                                <td>Türkçe sözlü ve yazılı etkin iletişim kurma becerisi; en az bir yabancı dil
                                    bilgisi; etkili rapor yazma ve yazılı raporları anlama, tasarım ve üretim
                                    raporları hazırlayabilme, etkin sunum yapabilme, açık ve anlaşılır talimat
                                    verme, alma becerisi.
                                </td>
                            </tr>
                            <tr>
                                <th class="p-th">P - 8</th>
                                <td></td>
                                <td>Yaşam boyu öğrenmenin gerekliliği bilinci; bilgiye erişebilme, bilim ve
                                    teknolojideki gelişmeleri izleme ve kendini sürekli yenileme becerisi.
                                </td>
                            </tr>
                            <tr>
                                <th class="p-th">P - 9</th>
                                <td></td>
                                <td>Etik ilkelerine uygun davranma, mesleki ve etik sorumluluk bilinci; mühendislik
                                    uygulamalarında kullanılan standartlar hakkında bilgi
                                </td>
                            </tr>
                            <tr>
                                <th class="p-th">P - 10</th>
                                <td></td>
                                <td>Proje yönetimi, risk yönetimi ve değişiklik yönetimi gibi, iş hayatındaki
                                    uygulamalar hakkında bilgi; girişimcilik, yenilikçilik hakkında farkındalık;
                                    sürdürülebilir kalkınma hakkında bilgi.
                                </td>
                            </tr>
                            <tr>
                                <th class="p-th">P - 11</th>
                                <td></td>
                                <td>Mühendislik uygulamalarının evrensel ve toplumsal boyutlarda sağlık, çevre ve
                                    güvenlik üzerindeki etkileri ve çağın mühendislik alanına yansıyan sorunları
                                    hakkında bilgi; mühendislik çözümlerinin hukuksal sonuçları konusunda
                                    farkındalık.
                                </td>
                            </tr>
                            <tr>
                                <th class="p-th">P - 12</th>
                                <td></td>
                                <td>Kodlama, doğrulama, sınama ve hata ayıklama konularını da içerecek şekilde
                                    karmaşık yazılım sistemleri geliştirebilmek.</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>